<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <script src="https://kit.fontawesome.com/55ea4909ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/forgotPassword.css">
</head>
<body>
    <div class="main">
        <div class="box">
            <i class="fa-solid fa-lock" id="lock"></i>
            <h1>Forgot Password?</h1>
            <p>You can reset your password here.</p>

            <form method="post" action="/changepassword">
                <div class="inputSection">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" placeholder="Registered Mail" class="inputFeild" name="email" id="email">
                </div>
                <div class="inputSection">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="New Password" class="inputFeild" name="password" id="password">
                </div>
                <input type="submit" class="btn" value="Change Password">
            </form>
        </div>
    </div>
    
</body>
</html>