@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
.body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.inputSection{
    background-color: #F1EFF1;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.inputFeild{
    background: none;
    border: none;
    outline: none;
    font-size: 18px;
    /* margin-left: -20px; */
}
.inputFeild::placeholder{
    color: #B8B7B8;
}

.main{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#lock{
    font-size: 50px;
}
i{
    font-size: 20px;
}
.btn{
    padding: 10px 40px;
    border-radius: 50px;
    font-size: 18px;
    background-color: #5396FC;
    border: none;
    outline: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin-left: 30px;
}
.btn:hover{
    background-color: #3985f7;
}